<!-- "Join Team" (Post) Form -->
<div class="col-md-7">

    <!-- Creates Main Panel -->
    <div class="panel panel-default">

        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">Web View of the Application</h2>
        </div>

        <!-- Panel Body -->
        <div class="panel-body">

            <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
            <form name ="addForm" novalidate>

                <!-- Creates Form -->
                <form name ="queryForm">

                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Web View</h4>
                        <p>This view show the Web side of the application. The Web pages use same REST API calls as detailed in the 'API View', by levaraging same set of REST API for Web view
                            We eliminate lots of  duplicate code.
                        </p>
                        <p class="mb-0"></p>
                    </div>

                </form>
        </div>
    </div>
</div>